/* CSS CODE */

/* Style the form and the paragraph element */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#encrypted-message {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
