/*
 * those CSS variables are defaults,
 * there are here for documentation porpuse
 */
:root {
    --color: lime;
    --background: #000;
    --size: 1.4;
    --glow: 1;
    --animation: terminal-blink;
}
